{% extends 'base/base.html' %}
{% load static %}
{% block page_content %}
<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta name="robots" content="noindex, nofollow">
  <meta name="googlebot" content="noindex, nofollow">
  <meta name="viewport" content="width=device-width, initial-scale=1">

{##}
{#  <script#}
{#    type="text/javascript"#}
{#    src="/js/lib/dummy.js"#}
{##}
{#  ></script>#}

{#    <link rel="stylesheet" type="text/css" href="{% static 'css/result-light.css">#}

      <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
      <script type="text/javascript" src="//code.jquery.com/jquery-3.3.1.slim.min.js"></script>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
      <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  <style id="compiled-css" type="text/css">
    /*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/
.profile-header {
    transform: translateY(5rem);
}


/*
*
* ==========================================
* FOR DEMO PURPOSE
* ==========================================
*
*/
body {
    background: #c1bdba;
    {#background: -webkit-linear-gradient(to right, #654ea3, #eaafc8);#}
    {#background: linear-gradient(to right, #654ea3, #eaafc8);#}
    min-height: 100vh;
}
.bg-dark{
    background-color: #232323!important;
}
.btn-dark{
    background-color: #232323!important;
    border-color: white;
}
.pt-5, .py-5{
    padding-top: 120px!important;
}
.mb-5, .my-5{
    margin-bottom: 4rem!important;
}
.btn-group-sm>.btn, .btn-sm{
    border-radius: 1rem;
}
    /* EOS */
  </style>

  <script id="insert"></script>

</head>
<body>
    <!-- For demo purpose -->

<div class="row py-5 px-4">
    <div class="col-xl-4 col-md-6 col-sm-10 mx-auto">

        <!-- Profile widget -->
        <div class="bg-white shadow rounded overflow-hidden">
            <div class="px-4 pt-0 pb-4 bg-dark">
                <div class="media align-items-end profile-header">
                    <div class="profile mr-3"><img src="/media/{{ object.profile.photo|default:'blank_profile_image.jpeg' }}" alt="..." width="130" class="rounded mb-2 img-thumbnail">
{#                        {% if is_owner %}#}
{#                        <a href="{% url 'user edit' pk=request.user.pk %}" class="btn btn-dark btn-sm btn-block">Edit profile</a>#}
{#                        <a href="{% url 'user edit' pk=request.user.pk %}" class="btn btn-dark btn-sm btn-block">Delete profile</a>#}
{#                        {% endif %}#}
                    </div>

                    <div class="media-body mb-5 text-white">
                        <h4 class="mt-0 mb-0">{{ object.profile.first_name}} {{ object.profile.last_name}}</h4>
                        <p class="small mb-4"> </p>
                                        {% if is_owner %}
                        <a href="{% url 'user edit' pk=request.user.pk %}" class="btn btn-dark btn-sm btn-block">Edit profile</a>
                        <a href="{% url 'user delete' pk=request.user.pk %}" class="btn btn-dark btn-sm btn-block">Delete profile</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="bg-light p-4 d-flex justify-content-end text-center">
                <ul class="list-inline mb-0">

                    <li class="list-inline-item">
                                                        {% if is_owner %}

                        <h5 class="font-weight-bold mb-0 d-block">{{ purchases.count|default:0 }}</h5><small class="text-muted">Ordered Products</small>
                                                                {% endif %}

                    </li>

{#                    <li class="list-inline-item">#}
{#                        <h5 class="font-weight-bold mb-0 d-block">84K</h5><small class="text-muted"> <i class="fa fa-user-circle-o mr-1"></i>Followers</small>#}
{#                    </li>#}
                </ul>
            </div>
{% if is_owner %}
            <div class="py-4 px-4">
                <div class="d-flex align-items-center justify-content-between mb-3">
                    <h5 class="mb-0">Recent orders: {{ purchases.count }}</h5><a href="{% url 'cart' %}" class="btn btn-link text-muted">Show all</a>
                </div>
                <div class="row">
                    {% for product in purchases %}
                    <div class="col-lg-6 mb-2 pr-lg-1"><img src="/media/{{ product.photo }}" alt="" class="img-fluid rounded shadow-sm"></div>
                    {% endfor %}
                </div>
            {% endif %}
{#                <div class="py-4">#}
{#                    <h5 class="mb-3">Recent posts</h5>#}
{#                    <div class="p-4 bg-light rounded shadow-sm">#}
{#                        <p class="font-italic mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>#}
{#                        <ul class="list-inline small text-muted mt-3 mb-0">#}
{#                            <li class="list-inline-item"><i class="fa fa-comment-o mr-2"></i>12 Comments</li>#}
{#                            <li class="list-inline-item"><i class="fa fa-heart-o mr-2"></i>200 Likes</li>#}
{#                        </ul>#}
{#                    </div>#}
{#                </div>#}
            </div>
        </div><!-- End profile widget -->

    </div>
</div>


    <script type="text/javascript">//<![CDATA[





  //]]></script>

  <script>
    // tell the embed parent frame the height of the content
    if (window.parent && window.parent.parent){
      window.parent.parent.postMessage(["resultsFrame", {
        height: document.body.getBoundingClientRect().height,
        slug: "jdk8m2bs"
      }], "*")
    }

    // always overwrite window.name, in case users try to set it manually
    window.name = "result"
  </script>


</body>
</html>
{% endblock %}